
.svg-goodatfalling{
  opacity:1;
  min-width: 80%;
  min-height: 100%;
  fill: rgba(225,225,225,1); 
}

.goodat {
position:relative;
}


.f {
  position: relative;
  animation: mymovef 4s 1;
  animation-fill-mode: forwards;
  animation-delay:4s;


}
.a {
  position: relative; 
  animation: mymovea 4.5s 1;
  animation-fill-mode: forwards;
  animation-delay:3.5s;


}
.lo {
  position: relative;
  animation: mymovel 5s 1;
  animation-fill-mode: forwards;
  animation-delay:3s;

}
.l {
  position: relative;
  animation: mymovell 5.5s 1;
  animation-fill-mode: forwards;
  animation-delay:2.5s;
}
.i {
  position: relative;
  animation: mymovei 6s 1;
  animation-fill-mode: forwards;
  animation-delay:2s;
}
.n {
  position: relative;
  animation: mymoven 6.5s 1;
  animation-fill-mode: forwards;
  animation-delay:1.5s;
}
.g {
  position: relative;
  animation: mymoveg 7s 1;
  animation-fill-mode: forwards;  
  animation-delay:1s;
}


@keyframes mymovef {
  from {top: 0px;}
  to {top: 200px;}
     0%  {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes mymovea {
  from {top: 0px;}
  to {top: 200px;}
     0%  {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes mymovel {
  from {top: 0px;}
  to {top: 200px;}
     0%  {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes mymovell {
  from {top: 0px;}
  to {top: 200px;}
     0%  {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes mymovei {
  from {top: 0px;}
  to {top: 200px;}
     0%  {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes mymoven {
  from {top: 0;}
  to {top: 200px;}
     0%  {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes mymoveg {
  from {top: 0px;}
  to {top: 200px}
     0%  {opacity: 1;}
   100% {opacity: 0;}
}

.mybutton {
  color: #333;
  background-color: lightblue;
  width: 8em;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 10px;
  transform:translateY(-400px);
}

/* unvisited link */
a:link {
  color: #333;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: #333;
}

.marquee {
  margin:5px;
  color:black;
  font-family:sans-serif;
  font-size:10px;
  transform:translateX(-400px);
}

/* Style the video: 100% width and height to cover the entire window */
#cliff {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  position:relative;
}

video{
  opacity: 50%;
}


#page-container {
  position: relative;

}


#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 1rem;            /* Footer height */
}

